.header__logo {
    margin: 0;
    padding-bottom: 36px;
}
@media screen and (max-width: 900px) {
    .header__logo {
        margin: 28px auto auto 27px;
        padding-bottom: 31px;
    }
}
@media screen and (max-width: 320px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
    }
}