.popup__close-button {
    position: relative;
    top: -40px;
    right: -430px;
    background-position: center;
    padding: 0;
    border: none;
    background-image: url(../../../images/Close-Icon.svg);
    width: 35px;
    height: 35px;
    background-color:transparent;
    background-repeat: no-repeat;
    transition: opacity linear 0.3s;
    cursor: pointer;
    outline: none;
    object-fit: fill;
    margin: 0;
  }
  .popup__close-button:hover {
    opacity: 0.6;
  }
  @media screen and (max-width:730px) {
      .popup__close-button {
        background-image: url(../../../images/close-icon_small.svg);
        height: 20px;
        width: 20px;
        right: -265px;
      }
  }
  