.header__link {
    margin: 6px 0 auto auto;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    text-decoration: none;
    transition: opacity linear 0.3s;
}
.header__link:hover {
    opacity: 0.8;
}