.footer {
    font-weight: 400;
    font-size: 18px;
    color: #545454;
    line-height: 22px;
}
@media screen and (max-width:730px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
    }
}