.popup__container {
    display: flex;
    flex-direction: column;
    width: 430px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 2;
  }
  @media screen and (max-width:730px) {
      .popup__container {
          width: 282px;
      }
  }
  