.element__delete-button {
    background-image: url(../../../images/basket.svg);
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 19.3px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: opacity linear 0.3s;
    outline: none;
}
.element__delete-button:hover {
    opacity: 0.6;
}
.element__delete-button_visible {
    opacity: 0;
}