@import url(../src/vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/background-color/background-color.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_exit/header__link_exit.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/element/__button-like/_active/element__button-like_active.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__subline/element__subline.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-button/_img/popup__close-button_img.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__answer/popup__answer.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__img-caption/popup__img-caption.css);
@import url(./blocks/popup/__img-article/popup__img-article.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__welcome/register__welcome.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__login-link/register__login-link.css);
.profile__div-avatar {
    position: relative;
}
.profile__change-button {
    background-image: url(./images/Change-avatar.svg);
    background-position: center;

    position:absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: opacity linear 0.3s;
    outline: none;
    border: none;
    opacity: 0;
}
.profile__change-button:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.element__block-like {
    height: 35px;
    width: 22px;
}
.element__quantity-likes {
    color: black;
    margin: 0;
    text-align: center;
    font-size: 13px;
    line-height: 15.73px;
}