.element__button-like {
    background-image: url(../../../images/like-button.svg);
    background-repeat: no-repeat;
    background-color: white;
    min-width: 22px;
    height: 19px;
    border: none;
    margin: 5px 5px 0 0;
    padding: 0;
    transition: opacity linear 0.3s;
    cursor: pointer;
    outline: none;
}
.element__button-like:hover {
    opacity: 0.5;
}
