.register__login-link{
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: opacity linear 0.3s;
}
.register__login-link:hover {
    opacity: 0.8;
}